In [1]:
# Task-1
print("Hello, everyone! I am learning Python. ðŸ˜„")

Hello, everyone! I am learning Python. ðŸ˜„

In [2]:
#Task-2
name= ('jawad')
AGE= ('36')
animal= ('cat')
print("My name is:",name)
print("MY age is:",AGE)
print("My favoraite animal is:",animal)

My name is: jawad
MY age is: 36
My favoraite animal is: cat

In [3]:
#Task-3
print(f'my name is {name} and my age is {AGE} and my personal is {animal}')

#Task-4
favorite_movie = "toy story"
BIRTH_YEAR = 1988
price_of_snake = 10.5
print("My favorite movie is:",favorite_movie)
print("Birth year is:",BIRTH_YEAR)
print("price is:",price_of_snake)

my name is jawad and my age is 36 and my personal is cat
My favorite movie is: toy story
Birth year is: 1988
price is: 10.5

In [4]:
#Task-5
hobby = "Reading Books"
print("My favorite Hobby is:",hobby)

My favorite Hobby is: Reading Books

In [5]:
#Task-6
A = 10
B = 20
C = A+B
print("A=",A)
print("B=",B)
print("C=",C)
print("C=",C , "(A and B are combined)")

A= 10
B= 20
C= 30
C= 30 (A and B are combined)